Bucket List
<a href="#/dashboard">Home</a>
<a href="#/logout">Logout</a>


<h1>Welcome {{logged_in_user}}</h1>

Errors:
<div ng-repeat="error in errors">
	<p class="error">{{error}}</p>
</div>
<form ng-submit="addToBucketList()">
	<input type="text" placeholder="Title" ng-model="newItem.title">
	<input type="text" placeholder="Description" ng-model="newItem.description">

	<select ng-model="newItem._taggedUser">
		<option value="{{user._id}}" ng-repeat="user in otherUsers">{{user.name}}</option>
	</select>
	<input type="submit" value="Add to list">

</form>


<br/>
<br/>

Before I die, I want to:

<div ng-repeat="item in items">
<p>
<input type="checkbox" ng-model="item.done" ng-change="updateStatus(item)"> {{item._taggedUser.name}} | {{item.title}} - {{item.description}} - {{item.createdAt | date: 'MMM dd, yyyy'}} </li>
</p>
</div>

<br/>
<br/>

List of other users (Click to view profile)
<div ng-repeat="user in otherUsers">
<p>
<a href="#/user/{{user._id}}">{{user.name}}</a>
</p>

</div>